 img {
 border-radius: 100%;
  border: solid 10px;
}
.categorias {
  display: none;
  margin-top: 10px;
}

#Logo-grupo{
 border-radius: 50%;
  border: solid 10px;
  color: white;
  }
#logo-discord {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}
body {
  background-color: rgb(0, 0, 0);
 font-family: Trebuchet MS;
 text-align: center;
 color: white;
 }
a{
 font-size: 20px;
 padding: 10px;
 display: block;
 text-align: center;
 margin: 10px;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: solid 5px white;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}
.categoria {
    margin: 20px;
    padding: 20px;
    border: solid 5px white;
    background-color: #1a1a1a;
}